@page "/expensetype"
@inherits ExpenseTypeBase

@if (ExpenseTypes == null)
{
    <div class = "spinner-border justify-content-center"></div>
}
else
{
    @if (ExpenseTypes.Any())
    {
        <div class="d-flex flex-row align-items-center">
            <h3><b>List of the expense types</b></h3>
            <a href="#" class="btn btn-outline-primary m-4">Add</a>
        </div>

        <table class="table table-bordered my-3">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Comment</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in ExpenseTypes)
                {
                    <tr>
                        <td>@(Counter++)</td>
                        <td>@item.Name</td>
                        <td>@item.Comment</td>
                        <td>
                            <a href = "@($"expensetypeedit/{item.Id}")" class = "btn btn-outline-primary m-1">Edit</a>
                            <a href = "#" class = "btn btn-outline-primary m-1">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}